[Unit]
Description=Butterfly Terminal Server
Wants=network-online.target
After=network.target

[Service]
Type=simple
PIDFile=/var/run/butterfly.pid
StandardOutput=file:/var/log/butterfly.log
StandardError=file:/var/log/butterfly.log
ExecStart=/usr/local/bin/butterfly.server.py --port=57575 --login --unsecure --host="0.0.0.0" --shell=/usr/bin/zsh

[Install]
WantedBy=sockets.target
