<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.jupyterhub.plist</string><!--这个名字必须和文件名一致-->
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/jupyterhub</string>
        <string>--config=/etc/jupyterhub/jupyterhub_config.py</string>
        <string>--no-ssl</string>
    </array>
    <key>StandardOutPath</key>
    <string>/var/log/jupyterhub.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/jupyterhub.log</string>
    <key>KeepAlive</key><!--后台保持运行-->
    <false/>
    <key>RunAtLoad</key><!--加载时候运行-->
    <true/>
</dict>
</plist>
